@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#f8fafc] text-slate-800 font-sans antialiased;
  }
}

.glass-card {
  @apply bg-white border border-slate-200/80 shadow-premium;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-slate-200 rounded-full border-[2px] border-[#f8fafc];
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-300;
}
