@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white text-black font-sans antialiased selection:bg-primary-500 selection:text-white;
  }
}

.glass-card {
  @apply bg-white border border-zinc-200/80 shadow-premium;
}

/* Custom Scrollbar for premium feel */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-zinc-200 rounded-full border-[2px] border-white;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-zinc-300;
}
